<div class='email-container'>
  <div class='top-section'>
    <div class='logo'>
      <img src='https://coini.app/assets/img_coini_dark.png' alt='logo-coini' />
    </div>
    <div class='box-container'>
      <div class='purple-text'>¡Confirma Tu Correo!</div>
      <div class='greeting-message'>
        <div class='notification-message'>Este mensaje es para confirmar tu
          correo electrónico.</div>
        <div class='notification-message'>Por favor, haz click en el siguiente
          botón para confirmar tu correo.</div>
      </div>
    </div>
    <hr />
    <div class='button-container'>
      <a href='{{{url}}}' target='_blank' style='text-decoration: none;'>
        <div
          class='button'
          style='background-color: #5345EB; color: #FEFEFE; border-radius: 8px; padding: 12px 24px; width: 100%; text-align: center; font-size: 16px; font-weight: 600;'
        >Confirmar Correo</div>
      </a>
    </div>
  </div>
  <div class='footer-section'>
    <div>¡Ten un magnífico día!</div>
    <div>Coini team.</div>
    <div class='contact-container'>
      <div class='icons-container'>
          <a href='https://www.facebook.com/coiniapp'>
            <img src='https://www.coini.app/assets/icon-facebook.png' alt='facebook-coini' /></a>
          <a href='https://www.instagram.com/coini.app/'>
            <img src='https://www.coini.app/assets/icon-instagram.png' alt='instagram-coini' /></a>
          <a href='https://twitter.com/coini_app'>
            <img src='https://www.coini.app/assets/icon-twitter.png' alt='twitter-coini' /></a>
          <a href='https://www.linkedin.com/company/coini-app'>
            <img src='https://www.coini.app/assets/icon-linkedin.png' alt='linkedin-coini' /></a>
        </div>
      <div class='text-container'>
        <div>Coini Technologies S.A.C.</div>
        <div>Todos los derechos reservados 2024.</div>
      </div>
    </div>
  </div>
</div>

<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
  .email-container{ border-radius: 24px; width: 700px; height: 100%; border: 1px
  solid #DADADA; margin: auto; font-family: 'Roboto', sans-serif; }
  .top-section{ background-color: #fff; border-radius: 24px 24px 0px 0px;
  padding: 48px 110px; } .box-container{ font-size: 16px; color: #525252; }
  .box-container .dark-purple-text{ padding-bottom: 24px; } .contact-container{
    font-size: 14px; display: flex; padding-bottom: 16px; }
  .contact-container
  .contact-text{ font-weight: 400; font-size: 14px; color: #525252; padding-top:
  16px; } .purple-text{ font-weight: 600; font-size: 24px; color: #5345EB;
  padding-bottom: 24px; } .dark-purple-text{ font-weight: 600; font-size: 16px;
  color: #180147; } .logo{ padding-bottom: 36px; } .greeting-message
  .greeting-to-user{ padding-bottom: 8px; } .greeting-message
  .notification-message{ padding-bottom: 8px; } .greeting-message
  .notification-message:last-child{ padding-bottom: 0px; }
  .transaction-container .transaction-info{ font-size: 14px; color: #525252;
  display: flex; padding-bottom: 16px; } .transaction-container
  .transaction-info:last-child{ padding-bottom: 0px; } .transaction-container
  .transaction-info>div:nth-child(1){ width: 50%; text-align: start;
  font-weight: 600; } .transaction-container .transaction-info>div:nth-child(2){
  width: 50%; text-align: end; font-weight: 600; } .error-message { font-weight:
  400; font-size: 14px; line-height: 16px; color: #525252; } .error-message
  .dark-purple-text { padding-bottom: 16px; } hr{ width: 100%; margin: 30px 0px;
  border: 1px solid #DADADA; } a{ text-decoration: none; } .footer-section{
  background-color: #5345EB; color: #FEFEFE; border-radius: 0px 0px 24px 24px;
  padding: 32px 110px; } .footer-section>div:nth-child(1){ font-size: 16px;
  font-weight: 600; padding-bottom: 14px; } .footer-section>div:nth-child(2){
  font-size: 13px; font-weight: 400; padding-bottom: 14px; }
  .footer-section>div:nth-child(3){ display: flex; } .icons-container{ margin:
  auto 0px; width: 50%; text-align: start; } .icons-container img{ width: 24px; height: 24px; 
  } .text-container{ width: 50%;
  font-size: 13px; font-weight: 400; text-align: end; }

</style>